<div class="contact">
        <div class="principal-box">
        
                <h2 class="title">Quem somos?</h2> <br>
                
                    <p align="justify" style="margin: 5px 80px">Somos a equipe Universo 7, 12 alunos da UVV dos cursos de 
                            psicologia, sistemas de informação e ciências da computação. Nós criamos a Smiles para fazer a 
                            diferença, quebrar barreiras e tabus, estimular crianças e para ser mais! </p>
                    <br>
                    <p align="justify" style="margin: 5px 80px">Nascer foi um evento! Sabemos que um bebê é algo especial 
                        pra toda família, entretanto, para nós, foi muito mais. Adoramos viver o momento. 
                        Somos agregadores, pois acredite, desde cedo temos sempre mais um por perto.</p>
                    <br>        
                    <p align="justify" style="margin: 5px 80px">Brincar, ler, tocar, cantar, conversar, dançar, estudar. 
                        Adoramos fazer tudo isso e conseguimos ir além. Nós podemos, só queremos um tempinho a mais.</p>
                    <br>        
                        
                    <p align="justify" style="margin: 5px 80px">A Trissomia 21 ou Síndrome de Down é além de um cromossomo 
                        a mais, um sorriso a mais, um carinho a mais, um potencial a mais, um talento a mais, uma vida a mais. 
                        É ser mais!</p>
                    <br>        
                        
                    <p align="justify" style="margin: 5px 80px">Gostou do nosso projeto? Nos envie sua opinião pelo e-mail 
                        que está na aba contatos! Venha ser mais com a gente!</p>
        
        <div class="footer">
                <a routerLink="" class="footer-element">
                    Voltar
                </a>
        </div>
    </div>
    