<div class="contact">
    <div class="principal-box">
    <h2 class="title">Apoios:</h2>
    <img src="{{vitoriaDownLogo}}"  class="element-logo imagens" />
    <h3>Vitória Down: </h3>
    <p align="justify" style="margin: 5px 80px">A Vitória Down é uma Associação de Pais, Amigos e Pessoas com síndrome de Down
    do Espírito Santo que foi fundada há 20 anos. Ao longo do tempo, ela vem se
    consolidando e ganhando notoriedade na sociedade capixaba, acolhendo as famílias e
    pessoas com a Trissomia 21 e promovendo a inclusão social.
    Com o apoio da Vitória Down conseguimos realizar uma pesquisa de campo para que
    o nosso projeto estivesse atendendo as demandas e críticas dos próprios pais.
    Agradecemos por essa oportunidade de apoio e parceria!</p>
    
    
    <h3>Orientadora:</h3>
    <p align="justify" style="margin: 5px 80px">Agradecemos a pessoa que de uma simples conversa para pedir dicas acabou se
    tornando nossa orientadora e de grande importância na divulgação e realização desse
    projeto. <b>Elaine Corrêa Colodetti</b>, nosso muito obrigado por estar nos ajudando a
    colocar em prática nossas ideias.</p>






    <div class="footer">
            <a routerLink="" class="footer-element">
                Voltar
            </a>
    </div>
</div>
